body {
  /* font-family: "Open Sans", sans-serif; */
  /* background-color: #fcdab7; */
}

a {
  color: #1e5f74;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #4a4a4a;
}

h1 {
  font-size: 3rem;
  color: #133b5c;
}

h2 {
  font-size: 2.5rem;
  color: #1d2d50;
}

h3 {
  font-size: 25px;
}

/* # Hero Section
--------------------------------------------------------------*/
*/ #hero {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

#hero h2 {
  color: ;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

/* #hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: black;
} */
#hero .btn-get-started {
  /* font-family: "Raleway", sans-serif; */
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #428bca;
}

#hero .btn-get-started:hover {
  background: #1c5c93;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

/* @media (min-width: 1024px) {
  #hero p {
    width: 60%;
  } */
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 5%;
}
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/* section {
  padding: 50px 0;
} */
.section-bg {
  background-color: #f5f9fc;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #888888;
}

.section-title {
  text-align: left;
  padding: 6% 0;
}

/* About Us */
/* .about {
  padding-bottom: 30px;
} */
.about .video-box img {
  padding: 15px 0;
}

/* .about .section-title p {
  text-align: left;
  font-style: italic;
  color: black;
} */
/* .about .about-content {
  padding: 40px;
} */
.about .icon-box+.icon-box {
  margin-top: 40px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

/* # Contact Us
--------------------------------------------------------------*/
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #428bca;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #428bca;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #6aa3d5;
}

#footer {
  background: #133b5c;
  color: #fff;
  font-size: 14px;
  padding: 0 10%;
}

#footer .footer-top {
  background: #133b5c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  /* font-family: "Raleway", sans-serif; */
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #768fa6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #428bca;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
}

#footer .copyright {
  text-align: center;
  padding: 20px 0;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #9eccf4;
}





/* CSS Added by AG */




iframe {
  width: 100%;
  height: 260px;
}

#home-title {
  /* background-image: url(https://s.studiobinder.com/wp-content/uploads/2018/03/Film-Lighting-Techniques-Cinematic-Look-Header-Image-StudioBinder.jpg); */
  background-image: url(https://storage.googleapis.com/beyondt-wordpress.appspot.com/home-banner);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  padding: 10% 10% 7%;
  /* background-color: #fff; */
}

#featured-reels {
  padding: 7% 10%;
}

#press {
  padding: 7% 10%;
  background-color: #fff;
}

#feature-details {
  padding: 10% 10%;
  background-color: #f9f9f9;
}

#partner-logos {
  padding: 3% 20%;
  text-align: center;
}

#about-partner-logos {
  padding: 3% 10%;
  text-align: center;
}

#contact {
  padding: 8% 10% 7%;
  text-align: left;
}

#showreel-intro {
  padding: 8% 8%;
  background-color: #1d2d50;
  color: #fff;
}

#showreel-intro p {
  color: #fff;
}

#showreel-body {
  padding: 10% 10%;
  background-color: #fff;
}

#about-page-first-container {
  padding: 8% 0%;
}

#about-page-intro {
  padding: 3% 10%;
}

#about-founder {
  padding: 5% 0%;
}

@media (max-width : 1000px) {}

.design-graphic-showreel,.design-graphic-founder,.design-graphic2,.design-graphic-contact,.design-graphic,.design-graphic-lower {
        opacity: 0.2;
        position: absolute;
  }

.navhome {
  padding: 4% 10%;
  background-color: #133b5c;
}

.navpage {
  padding: 1% 10%;
  background-color: #133b5c;
}

.banner-image {
  position: absolute;
  width: 100%;
}

.banner-text {
  padding: 10% 10% 15%;
  line-height: 1;
  color: #fff;
}

.banner-caption-data {
  color: #fff;
}

.img-fluid {
  width: 100%
}

.about-content {
  text-align: center;
}

.award-icons {
  padding: 30px 20px 50px 50px;
  padding: 0 25px;
}

.reel {
  padding: 15px;
}

.feature-detail-box {
  padding-bottom: 60px;
}

.feature-detail-text {
  padding: 10% 0;
}

.partner-icon {
  width: 60%;
}

.copy-sent {
  font-size: 12px;
  color: #fff;
}

.banner-caption {
  font-size: 4rem;
  font-weight: 800;
}

.navbar-brand {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5rem;
}

.title-heading {
  padding-bottom: 20px;
}

.reel-subtitle {
  font-size: 16px;
  color: black;
}

.contactforms {
  background-color: #fff;
  padding: 30px;
  float: right;
}

.contact-header {
  padding-bottom: 5%;
  color: #1d2d50;
}

.press-article {
  padding: 3% 0;
}

.design-graphic {
  width: 48rem;
  left: 1px;
}

.design-graphic-lower {
  width: 48rem;
  right: 1px;
  top: 185rem;
  transform: rotate(180deg);
}

.design-graphic-contact {
  width: 50rem;
  left: 2px;
  top: 10rem;
}

.design-graphic2 {
  width: 40rem;
  left: 60%;
  top: 42rem;
}

.design-graphic-founder {
  width: 60rem;
  right: 70%;
}

.design-graphic-showreel {
  width: 50rem;
  transform: rotate(45deg);
  top: 50rem;
}

.modal-dialog.modal-800 {
    width: 800px;
    margin: 30px auto;
}

.social-icons{
  padding: 10px;
}


/* Image Gallery Special CSS */


#gallery{
  padding: 8% 8%;

}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-gallery {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column-gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column-gallery {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-gallery {
    flex: 100%;
    max-width: 100%;
  }
}

.img-bw {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.img-bw:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}
